extends layout

block content
  .hero-unit
    h1 Day Eight
    p
      | TBD
  .row-fluid
    .span6
      h2 Office Hours
      p
        | Recap will be added here

      h2 Research

    //
      /span
    .span6
      h2 Assignment


      h2 Other Resources

