extends day

block description
  | TBD

block research
  p
    | TBD

block resources
  p
    | TBD

block assignment
  p
    | TBD
    // Complete TTT
    // Keep Learning
    //    Books
    //      TDDJS
    //      Testable JavaScript
    //    Q&A 
    //      http://stackoverflow.com/questions/tagged/javascript+unit-testing