extends day


block description
  | This is my day description

block research
  p
    | Something

block resources
  p
    | Not required, but these links can be useful

block assignment
  p
    | Here is the assignment for the day