extends day

block description
  | If this were easy, you wouldn't need training.

block research
  p
    | Today, we have a lot of research to do. It turns out 
    // http://www.nczonline.net/blog/2009/11/17/the-curious-case-of-javascript-unit-testing/
  p
    a.btn(href="...") My Link &raquo;

   // http://www.adequatelygood.com/Writing-Testable-JavaScript.html
   // https://shanetomlinson.com/2013/testing-javascript-frontend-part-1-anti-patterns-and-fixes/
   
   // 

block resources
// http://www.youtube.com/watch?v=OzjogCFO4Zo
  p
    | Not required, but these links can be useful

block assignment
  p
    | Over the next three days, you'll be creating a ... the Test-driven way. 
    ul
      li Define Requirements for the system
