extends day

block description
  | This is my day description

block research
  p
    | Here is what you need to research
  p
    a.btn(href="...") My Link &raquo;

block resources
  p
    | Not required, but these links can be useful

block assignment
  p
    | Here is the assignment for the day
