extends day

block description
  | Finishing up the Game of Life

block research
  p
    | It's day 10. If you haven't learned what's important so far, there is no hope ;)
  p
    | But, if you'd like to learn more:
  h3 Books
  ul
    li 
      a(href="http://tddjs.com/") Test-Driven JavaScript Development
    li 
      a(href="http://shop.oreilly.com/product/0636920024699.do") Testable JavaScript
  h3 Q&A 
  ul
    li 
      a(href="http://stackoverflow.com/questions/tagged/javascript+unit-testing") Unit Testing Q&A

block resources
  ul
    li 
      a(href="http://phantomjs.org/") PhantomJS
    li 
      a(href="http://casperjs.org") CasperJS
    li 
      a(href="https://github.com/admc/wd") NodeJS Selenium WebDriver

block assignment
  ul
    li Create the front-end of the Game of Life Kata
    li System/Functional test it