extends layout

block content
  .hero-unit
    h1 #{title}
    p
      | Working with the <a href="http://en.wikipedia.org/wiki/Document_Object_Model">DOM</a> means dealing with asynchronous actions and simulated events
  .row-fluid
    .span6
      h2 Office Hours
      p
        | Recap will be added here

      h2 Research
      p
        | The DOM, it's what makes TDD in JavaScript difficult. 
      p
        | With most Test-Driven Development, you're simply testing values returned from functions. But what happens when those functions change the DOM? Also, how do you test user interaction (e.g. mouse clicks, keyboard events, etc)?
      p 
        | Luckily, there is hope. YUI Test provides an Event Simulation component that helps test this type of functionality. Read through the YUI documentation for more information on how to use it.
      p
        a.btn(href="http://yuilibrary.com/yui/docs/event/simulate.html") Simulating DOM Events »
      p
        | Sometimes DOM interactions take time to run their course. So how do we get our tests to wait for our actions to run their course? By telling them to "wait()". Read the section linked below on Asynchronous tests for more information. 
      p
        a.btn(href="http://yuilibrary.com/yuitest/#asynctests") Asynchronous Tests »
    //
      /span
    .span6
      h2 Assignment
      p
        | In Cloud9, create a new workspace by cloning <a href="https://github.com/klamping/Spoilr">this repository</a>, and then write code to make the included tests pass.

