extends layout

block description
  | Learn the fundamental concepts of Test Driven JavaScript Development in this self-driven ten day course.

block content
  ul.pager
      li.next
        a(href="/day/1") Get Started &rarr;
  h2
    | Introduction
  p
   | JavaScript is a unique language with unique challenges. Learning how to practice TDD in such a rich and interactive environment is a skill that takes much practice. Whether it's dealing with the asynchronous nature of JavaScript and Ajax, or it's working with user events and modifying the DOM, getting automated tests built around a JavaScript application is definitely not for the faint of heart.
  p
   | This ten-day workshop is focused on how to meet the challenges of Test-Driven JavaScript Development. We'll tackle this complexity through a series of coding exercises, along with using resources throughout the industry to build our knowledge.
  p
   | A basic knowledge of <a href="http://www.agiledata.org/essays/tdd.html">Test-Driven Development</a> is helpful, but not needed before starting the class (we'll review the core concepts). Basic knowledge of JavaScript is highly recommended. The course is self-driven, so you can take however much time as you'd like.
  p
   | All exercises can be completed through the Cloud9IDE, although you may use your personal editor of choice if you prefer.