extends layout

block content
  .hero-unit
    h1 Test-Driven JavaScript - Day One
    p
      | Day one starts us off getting familiar with how the next nine working days will go. 
  .row-fluid
    .span6
      h2 Q &amp; A
      p
        | Our first Q&A session is a kick-off meeting where we talk about how the course is set-up and expectations you should have. We'll also do a quick run through of this website, plus we'll take a look at Cloud9, an online IDE where you can build and run all your code.
      h2 Research
      p
        | If you're not familiar with Cloud9, please complete the three lessons linked to familiarize yourself with the software. 
      p
        a.btn(href='http://support.c9.io/forums/20317258-Getting-Started-Guide') Up and running with Cloud9 »
      p
        | Once you're familiar with Cloud9, watch this video to see a couple of open-source code repositories that attempt to educate in a test-driven manner. The tests are already written, but it's your job to get them passing. 
      p
        a.btn(href='http://youtu.be/HZ1kHF4koSw') Test-Driven Learning »
    //
      /span
    .span6
      h2 Assignment
      p
        | Now it's time to put what you've learned to the test (pun intended). Clone both repos below in to your Cloud9 workspace and see if you can get some of the tests fixed. 
      ul
        li create c9 account
        li create new project by cloning the <a href="https://github.com/liammclennan/JavaScript-Koans">jskoans repository</a>
        li make the following tests pass:
          ul
            li assert
            li operators
            li equality
        li create a new project by cloning <a href="https://github.com/rmurphey/js-assessment">the js-assessment repository</a>
        li use command line to install modules
        li update node-port-path
        li start node
        li view in sidebar (or new tab)
        li assert a test
    //
      /span
  //
    /row
  //- .row-fluid
  //-   .span4
  //-     h2 Heading
  //-     p
  //-       | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn(href='#') View details »
  //-   //
  //-     /span
  //-   .span4
  //-     h2 Heading
  //-     p
  //-       | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn(href='#') View details »
  //-   //
  //-     /span
  //-   .span4
  //-     h2 Heading
  //-     p
  //-       | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //-     p
  //-       a.btn(href='#') View details »