doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="shortcut icon", href="favicon.ico")
  body

  .container-fluid
    .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Training Index
              
              li
                a(href='/day/1') Day One - First Steps
              li
                a(href='/day/2') Day Two - Testing Trim
              li
                <!-- a(href='#') -->Day Three
              li
                <!-- a(href='#') -->Day Four
              li
                <!-- a(href='#') -->Day Five
              li
                <!-- a(href='#') -->Day Six
              li
                <!-- a(href='#') -->Day Seven
              li
                <!-- a(href='#') -->Day Eight
              li
                <!-- a(href='#') -->Day Nine
              li
                <!-- a(href='#') -->Day Ten
          //
            /.well 
        //
          /span
        .span9
            block content
        //
          /span
      //
        /row
      hr
      footer
        p 

    script(src="http://code.jquery.com/jquery.js")
    script(src="javascripts/bootstrap.min.js")